{% extends 'index.html' %}
{% load static %}

{% block content %}
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg">
    <h3>Hakkımızda</h3>
</div>
<!-- bradcam_area_end -->

<!-- about_area_start -->
<section class="contact-section">
    <div class="about_area mb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>Hakkımızda</span>
                            <h3>Kapadokya’nın Büyüsüyle<br> Lüks Konaklama</h3>
                        </div>
                        <p>Patina Cappadocia, Türkiye’nin kültürel ve doğal mirasının en gözde noktası olan Kapadokya’da, Uçhisar Kalesi’nin hemen yakınında yer alır. Doğanın büyüleyici manzaralarını geleneksel taş mimari ile birleştirerek, konforu ve tarihi bir arada sunar.</p>
                        <p>Otelimiz, Kapadokya’nın kalbindeki benzersiz konumu sayesinde misafirlerine eşsiz bir deneyim sunar. Sıcak hava balonu turları, tarihi mekanlar ve Kapadokya’nın doğal güzelliklerine kolay erişim sağlayan Patina Cappadocia, konuklarına unutulmaz anılar biriktirme fırsatı sunar.</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7">
                    <div class="about_thumb d-flex">
                        <div class="img_1">
                            <img src="{% static 'img/about/58.jpg' %}" alt="Patina Cappadocia Oteli">
                        </div>
                        <div class="img_2">
                            <img src="{% static 'img/about/71.jpg' %}" alt="Kapadokya'da Lüks">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->

    <!-- rooms_area_start -->
    {% include 'partials/_roomsSlider.html' %}
</section>
<!-- rooms_area_end -->
{% endblock %}
