{% load static %}
<!doctype html>
<html class="no-js" lang="tr">
    

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Patina Hotel Kapadokya - Lüks Mağara Otel | En İyi Kapadokya Oteli ✓ Özel Havuzlu Odalar</title>
    <meta name="description" content="Kapadokya'nın en lüks mağara oteli Patina'da unutulmaz bir tatil deneyimi yaşayın. Özel havuzlu odalar, muhteşem balon manzarası, romantik atmosfer ve eşsiz Kapadokya deneyimi için hemen rezervasyon yapın! ☎ +90 542 468 50 50">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- SEO Meta Tags -->
    <meta name="keywords" content="kapadokya otel, mağara otel, lüks konaklama, patina hotel, kapadokya konaklama, balon turu, nevşehir otel, uçhisar otel, özel havuzlu otel, balayı suite, kapadokya balayı, kapadokya manzaralı otel">
    <meta name="author" content="Patina Hotel Kapadokya">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Patina Hotel Kapadokya - En İyi Lüks Mağara Otel">
    <meta property="og:description" content="Kapadokya'nın en lüks mağara oteli. Özel havuzlu odalar, muhteşem balon manzarası ve eşsiz Kapadokya deneyimi. Hemen rezervasyon yapın!">
    <meta property="og:image" content="{% static 'img/logo1-(1).png' %}">
    <meta property="og:url" content="https://patinahotel.com.tr">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="tr_TR">
    <meta property="og:site_name" content="Patina Hotel Kapadokya">
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Patina Hotel Kapadokya - En İyi Lüks Mağara Otel">
    <meta name="twitter:description" content="Kapadokya'nın en lüks mağara oteli. Özel havuzlu odalar ve muhteşem balon manzarası.">
    <meta name="twitter:image" content="{% static 'img/logo1-(1).png' %}">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="https://patinahotel.com.tr">
    
    <!-- Schema.org markup for Google -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Hotel",
      "name": "Patina Hotel Kapadokya",
      "image": "{% static 'img/logo1-(1).png' %}",
      "url": "https://patinahotel.com.tr",
      "telephone": "+90 542 468 50 50",
      "email": "rezervasyon@patinacappadocia.com",
      "priceRange": "₺₺₺",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Tekelli, Koyun Yolu Sk: 19/1",
        "addressLocality": "Uçhisar",
        "addressRegion": "Nevşehir",
        "postalCode": "50240",
        "addressCountry": "TR"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "38.631067",
        "longitude": "34.806476"
      },
      "starRating": {
        "@type": "Rating",
        "ratingValue": "5"
      },
      "amenityFeature": [
        {
          "@type": "LocationFeatureSpecification",
          "name": "Özel Havuzlu Odalar"
        },
        {
          "@type": "LocationFeatureSpecification",
          "name": "Balon Manzarası"
        },
        {
          "@type": "LocationFeatureSpecification",
          "name": "Ücretsiz WiFi"
        },
        {
          "@type": "LocationFeatureSpecification",
          "name": "Restoran"
        }
      ],
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+90 542 468 50 50",
        "contactType": "reservations",
        "availableLanguage": ["Turkish", "English"]
      }
    }
    </script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo1-(1).png' %}">
    
    <!-- Preconnect to required origins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body style="zoom: 115%;"></body>
    <!-- header-start -->
    {% include 'partials/_header.html' %}
    <!-- header-end -->

    
    {% block content %}
    <!-- slider_area_start -->
    {% include 'partials/_sliderHome.html' %}
    <!-- slider_area_end -->

    <!-- about_area_start -->
    {% include 'partials/_aboutHome.html' %}
    <!-- about_area_end -->

    <!-- offers_area_start -->
    {% include 'partials/_roomsSlider.html' %}  
    <!-- offers_area_end -->

    <!-- video_area_start -->
    <!-- <div class="video_area video_bg overlay">
        <div class="video_area_inner text-center">
            <h3>Relax and Enjoy your <br>
                Vacation </h3>
            <a href="https://www.youtube.com/watch?v=vLnPwxZdW4Y" class="video_btn popup-video">
                <i class="fa fa-play"></i>
            </a>
        </div>
    </div> -->
    <!-- video_area_end -->

    <!-- cappadocia_activities_start -->
    {% include 'partials/_activitiesHome.html' %}
    <!-- cappadocia_activities_end -->

    <!-- forQuery_start -->
    {% include 'partials/_forQuery.html' %}
    <!-- forQuery_end-->

    <!-- instragram_area_start -->
    {% include 'partials/_instagramHome.html' %}
    <!-- instragram_area_end -->

    {% endblock %}
    <!-- footer -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Adres
                            </h3>
                            <p class="footer_text">Patina Kapadokya, Tekelli, Koyun Yolu Sk: 19/1, <br>
                                50240 Uçhisar/Nevşehir Merkez/Nevşehir</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Rezervasyon
                            </h3>
                            <p class="footer_text">
                                <ul>
                                    <li>
                                        <a href="tel:+905424685050">+90 542 468 50 50</a><br>
                                        <a href="tel:+903842193837">+90 384 219 38 37</a><br>
                                        <a href="mailto:rezervasyon@patinacappadocia.com">rezervasyon@patinacappadocia.com</a></li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Navigasyon
                            </h3>
                            <ul>
                                <li><a href="/">Ana Sayfa</a></li>
                                <li><a href="/rooms">Odalar</a></li>
                                <li><a href="/about">Hakkımızda</a></li>
                                <li><a href="/contact">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Konum
                            </h3>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060.123456789!2d34.806476!3d38.631067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x152a6971a1e01c23%3A0x1b7c9235015f1949!2sPatina%20Cappadocia%2C%20Tekelli%2C%20Koyun%20Yolu%20Sk%20%3A19%2F1%2C%2050240%20U%C3%A7hisar%2FNev%C5%9Fehir%20Merkez%2FNev%C5%9Fehir!5e0!3m2!1str!2str!4v1634567890123!5m2!1str!2str" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-8 col-md-7 col-lg-9">
                        <p class="footer_text">© 2024 Patina Cappadocia. All Rights Reserved.</p>
                    </div>
                    <div class="col-xl-4 col-md-5 col-lg-3">
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook-square" style="color: black;"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter" style="color: black;"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram" style="color: black;"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- form itself end -->

    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
 


</body>

</html>