{% load static %}
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="about_info">
                    <div class="section_title mb-20px text-center">
                        <h1 style="font-weight: bold; text-transform: uppercase; color: #74C0FC;">HAKKIMIZDA</h1>
                    </div>
                    <hr>
                    <h3>Doğanın Kalbinde <br> Benzersiz Bir Konaklama</h3>
                    <p>
                        Uçhisar’ın büyüleyici manzaraları içerisinde yer alan Patina Cappadocia, geleneksel dokuyu ve modern 
                        lüksü bir araya getiriyor. Taş işçiliğiyle inşa edilen mimarimiz, bölgenin zengin kültürel mirasını 
                        yansıtırken, sunduğumuz çağdaş imkanlar konforlu bir konaklama deneyimi yaşamanızı sağlar.
                    </p>
                    <ul>
                        <li><strong>Doğal Güzellik:</strong> Kapadokya’nın eşsiz manzaralarına sahip teras ve odalar.</li>
                        <li><strong>Merkezi Konum:</strong> Uçhisar Kalesi ve Kapadokya’nın diğer cazibe merkezlerine kolay ulaşım.</li>
                        <li><strong>Gastronomik Deneyim:</strong> Bölgeye özgü lezzetlerle damak tadınızı şımartan restoran.</li>
                        <li><strong>Aktiviteler:</strong> Balon turları, doğa yürüyüşleri ve rehberli geziler ile unutulmaz bir deneyim.</li>
                    </ul>
                    <hr>
                    <p>
                        İster doğa ve tarih keşfine çıkmak isteyen maceraperestler, ister sakinlik arayan çiftler ve aileler 
                        için Patina Cappadocia, Kapadokya’nın büyüleyici atmosferini keşfetmek adına mükemmel bir durak noktasıdır.
                    </p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="about_thumb d-flex">
                    <div class="img_1">
                        <img src="{% static 'img/about/51.jpg' %}" alt="">
                    </div>
                    <div class="img_2">
                        <img src="{% static 'img/about/58.jpg' %}" alt="">
                    </div>
                    <div class="img_2">
                        <img src="{% static 'img/about/65.jpg' %}" alt="">
                    </div>
                </div>
                <div class="about_thumb d-flex">
                    <div class="img_1">
                        <img src="{% static 'img/about/56.jpg' %}" alt="">
                    </div>
                    <div class="img_2">
                        <img src="{% static 'img/about/70.jpg' %}" alt="">
                    </div>
                    <div class="img_2">
                        <img src="{% static 'img/about/71.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>