    <div class="forQuery">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1 col-md-12">
                    <div class="Query_border">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-xl-6 col-md-6">
                                <div class="Query_text">
                                    <h1 style="font-weight: bold; text-transform: uppercase; color: black;">Rezervasyon Yap</h1>

                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="phone_num" style="background-color: white;">
                                    <a href="tel:+905424685050" class="mobile_no" style=" background-color: rgb(212, 212, 212);;color: black;">(0542 468 50 50)</a>
                                    <br>
                                    <br>
                                    <a href="https://www.reseliva.com/booknow/patina-cappadocia/">Rezervasyon Yap</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>