{% load static %}
<header >
    <style>
        .header-area a {
            text-decoration: none; /* Alt çizgiyi kaldır */
        }

        @media (min-width: 768px) and (max-width: 991px) {
            .header-area {
                padding-top: 0;
                zoom: 200%;
            }
        }
    </style>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-6">
                        <div class="main-menu  d-none d-lg-block">
                            <nav >
                                <ul id="navigation">
                                    <li><a href="{% url 'index' %}">Patina Cappadocia</a></li>
                                    <li><a href="{% url 'about' %}">Hakkinda</a></li>
                                    <li><a href="{% url 'rooms' %}">Odalar </a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                    <li><a href="https://www.reseliva.com/booknow/patina-cappadocia/">Rezervasyon Yap</a></li>
                                                                    
                                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'img/logo1-(1).png' %}" alt="">
                            <script>
                                window.addEventListener('scroll', function() {
                                    var header = document.getElementById('sticky-header');
                                    var logo = document.querySelector('.logo-img img');
                                    if (window.scrollY > 200) {
                                        header.classList.add('sticky');
                                        logo.src = "{% static 'img/logowhite.png' %}";
                                    } else {
                                        header.classList.remove('sticky');
                                        logo.src = "{% static 'img/logo1-(1).png' %}";
                                    }
                                });

                                // Zoom the navbar to 200% on mobile devices
                                if (window.innerWidth <= 768) {
                                    document.querySelectorAll('.header-area a').forEach(link => {
                                        link.style.zoom = '200%';
                                    });
                                }
                            </script>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                        <div class="book_room">
                            <div class="socail_links">
                                <ul>
                                    
                                    <li>
                                        <a href="https://www.instagram.com/patinacappadocia/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="book_btn d-none d-lg-block">
                                <a href="https://www.reseliva.com/booknow/patina-cappadocia/">Rezervasyon Yap</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->

