{% load static %}
<header>
    <style>
         .header-area a {
        text-decoration: none; /* Alt çizgiyi kaldır */
    }

    </style>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-6">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="{% url 'index' %}">Patina Cappadocia</a></li>
                                    <li><a href="{% url 'about' %}">Hakkinda</a></li>
                                    <li><a href="{% url 'rooms' %}">Odalar </a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                                                    
                                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="index.html">
                                <img src="{% static 'img/logo1.png' %}" alt="">
                            <script>
                                window.addEventListener('scroll', function() {
                                    var header = document.getElementById('sticky-header');
                                    var logo = document.querySelector('.logo-img img');
                                    if (window.scrollY > 200) {
                                        header.classList.add('sticky');
                                        logo.src = "{% static 'img/logowhite.png' %}";
                                    } else {
                                        header.classList.remove('sticky');
                                        logo.src = "{% static 'img/logo1.png' %}";
                                    }
                                });
                            </script>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                        <div class="book_room">
                            <div class="socail_links">
                                <ul>
                                    
                                    <li>
                                        <a href="https://www.instagram.com/patinacappadocia/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="book_btn d-none d-lg-block">
                                <a class="popup-with-form" href="#test-form">Rezervasyon Yap</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->
<form id="test-form" class="white-popup-block mfp-hide" action="{% url 'book' %}" method="get">
    <div class="popup_box">
        <div class="popup_inner">
            <h3>Uygunluk Kontrolü</h3>
            <div class="row">
                <div class="col-xl-6">
                    <input id="datepicker" name="start_date" placeholder="Giriş Tarihi" required>
                </div>
                <div class="col-xl-6">
                    <input id="datepicker2" name="end_date" placeholder="Çıkış Tarihi" required>
                </div>
                <div class="col-xl-6">
                    <select class="form-select wide" id="adults-select" name="adults" re>
                        <option value="1" selected>1 Yetişkin</option>
                        <option value="2">2 Yetişkin</option>
                        <option value="3">3 Yetişkin</option>
                        <option value="4">4 Yetişkin</option>
                    </select>
                </div>
                <div class="col-xl-6">
                    <select class="form-select wide" id="children-select" name="children">
                        <option value="0" selected>0 Çocuk</option>
                        <option value="1">1 Çocuk</option>
                        <option value="2">2 Çocuk</option>
                        <option value="3">3 Çocuk</option>
                    </select>
                </div>
                <div class="col-xl-12 mt-4">
                    <select class="form-select wide" id="room-type-select" name="room_type">
                        <option value="" selected>Oda Türü</option>
                        <option value="royal">Royal Oda</option>
                        <option value="exclusive">Exclusive Oda</option>
                        <option value="luxury">Luxury Oda</option>
                        <option value="executive">Executive Oda</option>
                        <option value="superior">Superior Oda</option>
                    </select>
                </div>
                <div class="col-xl-12 mt-4">
                    <button type="submit" class="boxed-btn3">Uygunluğu Kontrol Et</button>
                </div>
            </div>
        </div>
    </div>
</form>
