{% load static %}
<div class="instragram_area">
    <div class="single_instagram">
        <img src="{% static 'img/views/patina1.jpg' %}" alt="">
        <div class="ovrelay">
            <a href="https://www.instagram.com/p/DCcNTU1CtSz/?img_index=1">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>
    <div class="single_instagram">
        <img src="{% static 'img/views/patina2.jpg' %}" alt="">
        <div class="ovrelay">
            <a href="https://www.instagram.com/p/DCI5bTiCGht/">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>
    <div class="single_instagram">
        <img src="{% static 'img/views/patina6.jpg' %}" alt="">
        <div class="ovrelay">
            <a href="https://www.instagram.com/p/C_0IwzFICR-/">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>
    <div class="single_instagram">
        <img src="{% static 'img/views/patina4.jpg' %}" alt="">
        <div class="ovrelay">
            <a href="https://www.instagram.com/p/DAXes82imKh/">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>
    <div class="single_instagram">
        <img src="{% static 'img/views/patina5.jpg' %}" alt="">
        <div class="ovrelay">
            <a href="https://www.instagram.com/p/ChRvMycjCbT/">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>
</div>