{% load static %}
<div class="slider_area lazyload">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <h3>Patina Cappadocia</h3>
                            <p>Kapadokya'nın büyüsünü bizimle yaşayın</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
</div>

